html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #f2f2f3;
}

#canvas-elem {
  width: 500px;
  height: 500px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,.05),0px 15px 20px -1px rgba(0,0,0,.025);
  margin: 10px;
}