:root {
  --menuWidth: 200px;
}

body {
  display: flex;
}

.menu {
  width: var(--menuWidth);
  user-select: none;
}
.menu-item {
  line-height: 30px;
}
.menu-item > .menu-name {
  cursor: pointer;
  padding-left: 10px;
}

.menu-name:hover {
  background: rgba(0, 153, 255, 0.1);
  color: rgb(0, 153, 255);
}

.menu-item-sub .menu-name {
  cursor: pointer;
  padding-left: 20px;
}

.menu-item-sub {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
}
.menu-item-sub.is-open {
  grid-template-rows: 1fr;
}
.menu-item-sub-inner {
  overflow: hidden;
}

.iframe {
  width: calc(100% - var(--menuWidth));
}
.iframe > iframe {
  width: 100%;
  height: 100%;
}

.expend-down {
  /* transform-origin: center top;
  animation: expendDown .3s forwards;
  display: block; */
}
.expend-down::before {
  content: ""
}
.shrink-up {
  transform-origin: center top;
  animation: shrinlUp .3s forwards;
  display: none;
}
@keyframes expendDown {
  from {transform: scaleY(0);}
  to {transform: scaleY(1);}
}
@keyframes shrinlUp {
  from {transform: scaleY(1);}
  to {transform: scaleY(0);}
}